/*
* =================================================================
*                          AUTHENTICATION
*                          Chloe's Section
* =================================================================
*/
.container h1{
    padding: 15px;
    text-align: center;
}

.form-content{
    border:2px solid #cccccc;
    padding: 15px;
    width: fit-content;
    margin: 0 auto;
}

.form-row {
    padding:5px;
}

.form-col {
    float: left;
    width: 50%;
    padding: 1px;
}
