body, html {
    height: 100%;
    margin: 0;

}

.footer-cart{
    position: absolute;
    bottom:0;
    width: 100%;
}

.background-cart {
    display: flex;
    flex-direction: row;
}

.box-item {
    border-radius: 1em;
    background-color: white;
    width: 80%;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.box-checkout {
    display: flex;
    border-radius: 1em;
    background-color: white;
    width: 20%;
    height: 10em;
    margin: 20px 20px 20px 20px;
    flex-direction: column;
}

.row-title-cart {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.font-your-cart {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.font-price {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    justify-content: flex-end;
    display: flex;
    align-items: end;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.line{
    display:flex;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.image-product{
    display:flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 50px;
    margin-bottom: 20px;
}

.column-info-item {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.font-name-item {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
}

.font-delete{
    color: #0000FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    margin-top: 100px;
}

.font-price{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

.column-price{
    display: flex;
    flex-direction: column;
    width: 10%;
}

.font-checkout-price{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.checkout-btn{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    justify-content:center;
    align-items: center;
    border: none;
    background: blue;
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
    height: 30%;
    border-radius: 1em;
}

@media screen and (max-width: 1500px){
    .checkout-btn {
        margin-left: 10px;
        font-size: 16px;
    }
}
