.container{
    padding: 15px;
    margin:auto;
}

.form {
    border:2px solid #cccccc;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.Tab {
    display: flex;
    justify-content: space-between;
}

.signIn:hover, .signUp:hover {
    text-decoration: none;
    color: #fff;
}

.activeLink {
    color: #fff;
    background-color: #195190FF;
}
